@model CPMS.Web.Models.Login

@{
    ViewData["Title"] = "Login";
}
<style type="text/css">
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    .media (max-width: 450px)
    .h-custom {
        height: 100%;
    }

    .vh-100 {
        height: 80vh !important;
    }

    #loading {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 1000;
    }

    #loadingcontent {
        display: table;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #loadingspinner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: larger;
        padding-top: 80px;
    }
</style>

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="LoginForm" name="LoginForm">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="EmailAddress">Email address</label>
                        <input type="email" id="LoginEmailAddress" asp-for="EmailAddress" class="form-control form-control-lg" placeholder="Enter a valid email address" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" asp-for="Password">Password</label>
                        <input type="password" id="LoginPassword" class="form-control form-control-lg" placeholder="Enter password" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <input type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Sign In" onclick="" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    var apiurl = 'https://localhost:7128/api/Login/GetLoginDetails';
    $(document).ready(function () {
        $('#LoginEmailAddress').val('');
        $('#LoginPassword').val('');

        $('#LoginForm').submit(function (e) {
            e.preventDefault();
            if (($('#LoginEmailAddress').val() == "") || ($('#LoginPassword').val() == "")) {
            return false;
        }
        var requestdata = { Email: $('#LoginEmailAddress').val().trim(), Password: $('#LoginPassword').val().trim() };
        $.ajax({
            url: apiurl,
            contentType: 'application/json; charset=utf-8',
            type: 'Post',
            data: JSON.stringify(requestdata),
            success: function (result) {
                if (result.indexOf('User Not Found') == -1) {
                    var obj = $.parseJSON(result);
                    if (obj.length > 0) {
                        if (obj[0].TypeId == "1") {
                            var userConcernName = obj[0].CollegeName;
                            SetSessionValue(obj[0].Email, obj[0].LoginId, obj[0].TypeId, obj[0].ProfileId, userConcernName);
                        }
                        else {
                            var userConcernName = obj[0].CompanyName;
                            SetSessionValue(obj[0].Email, obj[0].LoginId, obj[0].TypeId, obj[0].ProfileId, userConcernName);
                        }
                    }
                }
                else {
                    alert('Invalid Login Data');
                }
            },
            error: function (e) {
                alert('Issue in Login' + e);
            }
        })
    })

    function SetSessionValue(email, loginId, typeId, profileId, userConcernName) {
        var requestdata = { Email: email, LoginId: loginId };
        $.ajax({
            url: "https://localhost:7054/Login/SetSessionItem?Email=" + email + "&LoginId=" + loginId + "&TypeId=" + typeId + "&ProfileId=" + profileId + "&UserConcernName=" + userConcernName,
            contentType: 'application/json; charset=utf-8',
            type: 'Get',
            success: function (result) {
                if (typeId == "1") {
                    window.location.href = '@Url.Action("College", "College")';
                }
                else {
                    window.location.href = '@Url.Action("Company", "Company")';
                }
            },
            error: function (e) {
                alert('Issue in Login' + e);
            }
        })
    }
        })
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
