@{
    ViewData["Title"] = "PlacementRequest";
    @using System.Collections;
}


<script type="text/javascript">
    var apiurl = 'https://localhost:7128/api';
    
    $(document).ready(function () {
        $('#CollegeName').trigger('change');
        $('#PlacementRequest').submit(function (e) {
            debugger;
            e.preventDefault();
            var requestdata = { CollegeId: $('#CollegeName').val().trim(), CompanyId: $('#CompanyId').val().trim(), RequestedDate: $('#RequestedDate').val().trim(), CreatedBy: $('#CreatedBy').val().trim(), DepartmentIds: $('#DepartmentName').val().trim(), Arrears: $('#arrears').val().trim(), CGPA: $('#ExpectedCGPA').val().trim() };
            console.log(requestdata);
            $.ajax({
                url: apiurl + "/Company/InsertPlacementRequest",
                contentType: 'application/json; charset=utf-8',
                type: 'Post',
                data: JSON.stringify(requestdata),
                success: function (result) {
                    alert('successfully received data ');
                    location.href = $("#CompanyURL").val();
                },
                error: function () {
                    alert('failed to receive the data');
                    location.href = url;
                }
            })
        })

        $('#CollegeName').change(function () {
            var selValue = $(this).val();
            $.ajax({
                url: apiurl + "/College/GetAllDepartmentByCollegeId?collegeId=" + selValue,
                contentType: 'application/json; charset=utf-8',
                type: 'Get',
                success: function (result) {
                    $('#DepartmentName')
                        .empty()
                        .append('<option value="">Select</option>');
                    if (result.indexOf('Department Not Found') == -1) {
                        var obj = $.parseJSON(result);
                        for (i = 0; i < obj.length; i++) {
                            $("#DepartmentName").append($("<option>").attr("value", obj[i].DepartmentId).text(obj[i].DepartmentName));
                        }
                    }

                },
                error: function () {
                    alert('failed to receive the data');
                }
            })
        })


    })
</script>
<h1>Placement Request</h1>
<hr />



<div class="row">
    <div class="col-md-12">
        <form id="PlacementRequest" name="PlacementRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input class="form-control" id="CompName" value="@ViewBag.CompanyName" ;
                       }" disabled />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" id="CompanyId" value="@ViewBag.CompanyId" type="hidden" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" id="CreatedBy" value="@ViewBag.LoggedInUserId" type="hidden" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">College Name</label>
                @Html.DropDownList("colleges", ViewData["colleges"] as SelectList,new { @class="dropdown", @id="CollegeName" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Placement Requested Date</label>
                <input class="form-control" id="RequestedDate" type="Date" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Department Name</label>
                <select id="DepartmentName" class="dropdown">
                    <option value=''>Select</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Expected CGPA</label>
                <input class="form-control" id="ExpectedCGPA" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Allowed Standing No of Arrears</label>
                <input class="form-control" id="arrears" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:15px;">
                <input type="submit" value="Create Placement Request" class="btn btn-primary" onclick="" />
            </div>
        </form>
    </div>
</div>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
