@{
    ViewData["Title"] = "PlacementRequest";
    @using System.Collections;
}


<script type="text/javascript">
    var apiurl = 'https://localhost:7128/api';
    $(document).ready(function () {
       $('#CollegeName').trigger('change');
        $('#CompanyForm').submit(function (e) {
            e.preventDefault();
            var requestdata = { Email: $('#CompEmailAddress').val().trim(), Password: $('#CompPassword').val().trim(), Type: 2 };
            $.ajax({
                url: apiurl,
                contentType: 'application/json; charset=utf-8',
                type: 'Post',
                data: JSON.stringify(requestdata),
                success: function (result) {
                    alert('successfully received data ');
                    console.log(result);
                    location.href = $("#CompanyURL").val();
                },
                error: function () {
                    alert('failed to receive the data');
                    console.log('failed ');
                    location.href = url;
                }
            })
        })

        $('#CollegeName').change(function () {
            //e.preventDefault();
            var selValue = $(this).val();
            $.ajax({
                url: apiurl + "/College/GetAllDepartmentByCollegeId?collegeId=" + selValue,
                contentType: 'application/json; charset=utf-8',
                type: 'Get',
                success: function (result) {
                    debugger;
                    $('#DepartmentName')
                    .empty()
                    .append('<option value="">Select</option>');
                    var obj = $.parseJSON(result);
                    for (i = 0; i < obj.length; i++) {
                        $("#DepartmentName").append($("<option>").attr("value", obj[i].DepartmentId).text(obj[i].DepartmentName));
                    }
                },
                error: function () {
                    alert('failed to receive the data');
                    console.log('failed ');
                    //location.href = url;
                }
            })
        })

     
    })
</script>
<h1>Placement Request</h1>
<hr />



<div class="row">
    <div class="col-md-12">
        <form id="CompanyForm" name="CompanyForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Company Name</label>
                <input class="form-control" id="CompName" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">College Name</label>
                @Html.DropDownList("colleges", ViewData["colleges"] as SelectList,new { @class="dropdown", @id="CollegeName" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Placement Requested Date</label>
                <input class="form-control" id="RequestedDate" type="Date" />
                <span class="text-danger"></span>
            </div>
             <div class="form-group">
               <label class="control-label">Department Name</label>
                <select id="DepartmentName" class="dropdown">
                    <option value=''>Select</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Expected CGPA</label>
                <input class="form-control" id="CompName" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Allowed Standing No of Arrears</label>
                <input class="form-control" id="arrears" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-top:15px;">
                <input type="submit" value="Sign In" class="btn btn-primary" onclick="" />
            </div>
        </form>
    </div>
</div>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
